page{
    background-color: #F7DF57;
}

.bcode{
    min-height: 300rpx;
    background: url("___src___/balls.svg") no-repeat center center;
    background-size: 60px 60px;
    text-align: center;
    image{
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }
}